@font-face {
	font-family:'ub-lft-etica';
	src: url('../fonts/LFTEtica-Bold_gdi.eot');
	src: url('../fonts/LFTEtica-Bold_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/LFTEtica-Bold_gdi.woff') format('woff'),
		url('../fonts/LFTEtica-Bold_gdi.ttf') format('truetype'),
		url('../fonts/LFTEtica-Bold_gdi.svg#LFTEtica-Bold') format('svg');
	font-weight: 800;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

@font-face {
	font-family:'ub-lft-etica';
	src: url('../fonts/LFTEtica-SemiBold.eot');
	src: url('../fonts/LFTEtica-SemiBold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/LFTEtica-SemiBold.woff') format('woff'),
		url('../fonts/LFTEtica-SemiBold.ttf') format('truetype');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family:'ub-lft-etica';
	src: url('../fonts/LFTEtica-Regular_gdi.eot');
	src: url('../fonts/LFTEtica-Regular_gdi.eot?#iefix') format('embedded-opentype'),
		url('../fonts/LFTEtica-Regular_gdi.woff') format('woff'),
		url('../fonts/LFTEtica-Regular_gdi.ttf') format('truetype'),
		url('../fonts/LFTEtica-Regular_gdi.svg#LFTEtica-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
	font-stretch: normal;
	unicode-range: U+0020-25CA;
}

html, body {
  margin: 0;
  padding: 0;
  background: #fff;
  -webkit-font-smoothing: antialiased;
}

button:focus,
button:active {
  outline: none;
}

.c-ec-container {
  max-width: 850px;
	padding-left: 15px;
	padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'ub-lft-etica', sans-serif;
}
