
.c-ec-survey__question {
  display: flex;
  align-items: center;
  height: 300px;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  padding-left: 3rem;
  padding-right: 3rem;

  background-color: #15AAC9;

  font-size: 28px;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.75px;
  color: white;

  border-radius: 5px;
}

.c-ec-survey__question > div {
  width: 100%;
}

.c-ec-survey__question,
.c-ec-survey__response__option > button {
  text-shadow: 0px 1px 2px rgba(0,0,0,0.50);
}

.c-ec-survey__response {
  display: flex;

}

.c-ec-survey__response__option {
  flex: 1;
  margin-right: 0.75rem;
}

.c-ec-survey__response__option:last-child {
  margin-right: 0;
}

.c-ec-survey__response__option > button {
  width: 100%;
  padding: 1rem;
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 0.75px;
  font-weight: 600;
  min-height: 75px;
  vertical-align: middle;
  border-radius:5px;
  color:white;
  border: none;

  cursor: pointer;
}

.c-ec-survey__response__option--1 > button {
    background-color: #C91515;
    box-shadow: 0px 5px #8D1010;
}

.c-ec-survey__response__option--2 > button {
    background-color: #E14E00;
    box-shadow: 0px 5px #8A3101;
}

.c-ec-survey__response__option--3 > button {
    background-color: #F9E500;
    box-shadow: 0px 5px #B3A504;
}

.c-ec-survey__response__option--4 > button {
    background-color: #669B00;
    box-shadow: 0px 5px #476C00;
}

.c-ec-survey__response__option--5 > button {
    background-color: #20E200;
    box-shadow: 0px 5px #18A101;
}

.c-ec-survey__progress {
  display: flex;
  margin-top: 1rem;
}

.c-ec-survey__progress__list {
  flex: 1;
  display: flex;
  background-color: #F0F0F0;
  border-radius: 5px;
  text-transform: uppercase;
  font-size:14px;
  color:#707070;
}

.c-ec-survey__progress__item {
  flex: 1;
  font-size: 13px;

  text-align: center;
  margin-left: 0.25rem;
  margin-right: 0.25rem;
  color: #9c9c9c;
}

.c-ec-survey__progress__item--active {
  color: black;
}

.c-ec-survey__progress__list,
.c-ec-survey__progress__skip,
.c-ec-survey__progress__previous {
  background: #F0ECEC;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  margin-right: 0.75rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;

  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
  color: #747474;
  letter-spacing: 0.43px;
}

.c-ec-survey__progress__skip:last-child {
  margin-right: 0;
}
